
* {;box-sizing: border-box;-moz-box-sizing: border-box}
body,
html {height:100%;margin: 0}
html {
  background: url('./images/background.jpg') no-repeat #666;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;

  color: #efefef;
}
body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  line-height: 1.5rem;
}
body.fontLoaded {
  font-family: "Titillium Web", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
h1, h2, h3 {text-align: center;}
h1 {color: #fff}
h2, h3 {margin: 0 0 1rem;}

.aboutMe {
  padding-top: 15rem;
  text-align: center;
  transition: all 1s ease;
}
.aboutMeContent {}
.profilePhoto {
  width: 10rem;
  height: 10rem;
  background: url('images/tystark.jpg');
  background-size: cover;
  border: 1px solid white;
  border-radius: 50%;
  margin: -5rem auto;
  position: relative;
  left: -16rem;
  transition: all .5s ease;
}
.portfolio {
  background: #fff;
  color: #666;
}
.portfolioHeader {
  padding: 5rem 0;
}
.portfolioNav {
  margin: 0;
  padding: 0;
  text-align: center;
}
.portfolio-section {
  color: #fff;
  min-height: 10em;
  overflow: hidden;
  padding: 3rem;
  position: relative;
}
.portfolio-sectionIcon {
  background: #fff;
  display: inline-flex;
  height: 25px;
  padding: 0.1rem;

  position: absolute;
  left: 0.75rem;
  top: 3.2rem;
}
.portfolio-sectionHeader {
  font-size: 1.5rem;
}
.portfolio-section-hero {
  background: #fff;
  box-shadow: 0px 1px 3px #333;
  display: block;
  float: right;
  margin-top: -3rem;
  margin-left: 1rem;
  max-width: 300px;
  overflow: hidden;
}

.portfolio-section-heroImg {
  max-width: 100%;
}

.portfolio-iconAnchor {
  margin: 0.5rem;
  border: 1px solid #efefef;
  display: inline-flex;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0 0 0px #ccc;
  transition: all .5s ease;
}
.portfolio-iconAnchor:focus,
.portfolio-iconAnchor:hover {
  box-shadow: 5px 5px 5px #ccc;
}
.portfolio-icon {
  height: 50px;
}

@media (max-width: 700px) {
  .profilePhoto {
    left: 0;
    margin: 0;
  }
}

@media (max-width: 650px) {
  .portfolio-section {
    padding: 1rem;
  }
  .portfolio-sectionIcon {
    left: inherit;
    right: 0.5rem;
    top: 0.5rem;
  }
  .portfolio-section-hero {
    float: none;
    margin: 1rem 0;
    max-height: 200px;
    max-width: 100%;
  }
}