
@import "./styles/mixins/for";

@whiteBackground: rgba(255,255,255,0.5);

@gradientEdge: #d4d7a3;

@companies: paypal, homeaway, jackrabbit, razorfish;

.contentPage(@maxWidth) {
  padding: 1em;
  margin: 5em auto;
  width: 100%;
  max-width: @maxWidth;
}

* {;box-sizing: border-box;-moz-box-sizing: border-box}
body,
html {height:100%;margin: 0}
html {
  background: url('./images/background.jpg') no-repeat @gradientEdge;
  background-size: cover;
  min-height: 100%;
}
body {
}
h1, h2, h3 {text-align: center;}
h1 {color: #fff}
h2, h3 {margin: 0;}
.app_wrapper{
  height: 100%;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  color: #efefef;
}
.app_element {height: 100%}

.navigation {position: absolute;display: flex;width: 100%;}
.navigation_list {margin: 0 auto; padding:0;display: flex}
.navigation_item {list-style: none; margin: 3em 3em 0;cursor: pointer}
.navigation_item.active {text-decoration: underline;}

.container_wrapper {display: flex;height: 100%}

.container {
  transition: all .5s ease;
}
.container.Home {
  align-self: center;
  .contentPage(500px);
}
.container.About {
  align-self: center;
  background: rgba(0,0,0,0.2);
  .contentPage(500px);
}
.container.Portfolio {
  .contentPage(800px);
}

.profile_imageWrapper {
  width: 10rem;
  height: 10rem;
  background: #0b97c4;
  background: url('./images/tystark.jpeg');
  background-size: cover;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
}
.profile_itemWrapper {}
.profile_item {
  width: 3em;
  height: 3em;
  display: flex;
  border: 1px solid #000;
  border-radius: 50%;
  
}

.portfolio_itemWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.portfolio_year {
  text-shadow: 1px 1px 1px #333;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.portfolio_items {
  width: 100%;
}
.portfolio_items_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
.portfolio_item {

  height: 4em;
  width: 4em;

  display: inline-block;
  border-radius: 50%;

  margin: 1% 1em;

  background: #fff;
  color: #333;

  border: 1px solid #efefef;
  text-align: center;

  position: relative;

  @media (max-width: 800px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-position: top right;
    overflow: hidden;

    .portfolio_item_more_details {
      height: auto;
      width: 100%;
      position: initial;
      background: none;
      border-radius: 0;
      border: 0;
    }

    &:hover .portfolio_item_more_details {
      height: auto;
      width: auto;

    }
  }

//  Loop through the companies in my profile to tack on a little icon on the top right corner
  .for(@companies); .-each(@company) {
    &.company-@{company} {
      background: url('./images/icons/@{company}.png') no-repeat center center #fff;
      background-size: 1.8em;
    }
  }
}

.portfolio_item_background {
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  opacity: 0.5;
}

.portfolio_item_more_details {
  height: 0;
  width: 0;
  padding: 0 0.5em;

  background: #fff;
  background-size: cover;
  box-shadow: 0 0 1em #333;
  color: #fff;

  overflow: hidden;

  border-radius: 50%;
  font-size: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 0;

  transition: all .5s ease;

}
.portfolio_item_title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  word-break: break-word;
  vertical-align: middle;
}
.portfolio_item_description {
  font-size: 0.7rem;
}

.portfolio_item_more_details_content {
  background: rgba(255,255,255, 0.5);
  color: #000;
  padding: 0.5em;
  border-radius: 1em;
}
.portfolio_item_link {
  background: url('images/link.png') no-repeat center;
  background-size: contain;
  display: block;
  padding: 1em;
  text-indent: -9999px;
}
.portfolio_item_link:hover {
  background-image: url('images/link_hover.png');
}
.portfolio_item_image {
  max-width: 100%;
  padding: 0 0.5em 0.5em;
  display: block;
}

.portfolio_item:hover {
  .portfolio_item_more_details {
    height: 15rem;
    width: 15rem;
    bottom: -10rem;
    right: -10rem;
    z-index: 1;
  }

  &.bottomScaled .portfolio_item_more_details {
    bottom: 0rem;
  }
}

@media (max-width: 800px) {

  .portfolio_item.portfolio_item {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    background-position: top right;
    overflow: hidden;

    &:hover .portfolio_item_more_details {
      height: auto;
      width: auto;
    }
  }

  .portfolio_item_more_details_content {
    background: none;
  }

  .portfolio_item_more_details {
    height: auto;
    width: 100%;
    position: initial;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: 0;
  }
  .portfolio_item_background {
    display: none;
  }

}