h1 {
    margin:0;
    text-align: center;
}

.container {
    border: 1px solid #ccc;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.circles {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 6em;
    width: 3em;
}

.circle {
    position: absolute;
    left: 0;
    top: -6em;
    transition: all .5s ease;
}

.circle-image {
    max-width: 3em;
    border-radius: 3em;
}

.circle-more-info {
    display: none;
}

.avatar-wrapper {
    padding: 3em;
    text-align: center;
}

.avatar {
    border-radius: 5em;
    margin: 0 auto;
    width: 9em;
}