* {
    box-sizing: border-box;
}

@font-face {
    font-family: Steelworks;
    src: url("/fonts/SteelworksBook.otf");
    font-weight:400;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;

    font-family: 'Titillium Web', sans-serif;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #000000 0%, #6393c1 100%) fixed; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#000000), color-stop(100%,#6393c1)) fixed; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #000000 0%,#6393c1 100%) fixed; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #000000 0%,#6393c1 100%) fixed; /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #000000 0%,#6393c1 100%) fixed; /* IE10+ */
    background: linear-gradient(135deg,  #000000 0%,#6393c1 100%) fixed; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/** Header **/

h1 {
    color: #ffe033;
    text-shadow: 1px 1px 1px #333;
    margin:0.5em 0;
    text-align: center;
    font-family: 'Steelworks', 'Helvetic Neue', 'Helvetica', 'Arial';
}
h1 a {
    color: #007AB8;
}

/** Container **/
.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: table;
}

.container-inner.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.container-inner.notes .content {
    background: rgba(255,255,255,.8);
    padding: 1em;
}

/** Site Navigation **/
.site-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-nav li {
    margin-bottom: 0.5em;
}
.site-nav a {
    background: rgba(0,0,0,0.3);
    color: #efefef;
    display: block;
    font-family: 'Steelworks', 'Helvetic Neue', 'Helvetica', 'Arial';
    padding: 8px 2px;
    text-align: center;
    text-decoration: none;
}
.site-nav a:hover {
    background: rgba(0,0,0,.6);
}

.header-containers {
    max-width: 30em;
    margin: 2em auto;
}

.header-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.avatar-project-container {
    padding: 0.5em 0;
    max-width: 66%;
}

.technologies-container {
    max-width: 33%;
}

/* Project Bubbles */

.circles {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 6em;
    width: 3em;
}

.circle {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    transform: rotate(0deg) translateY(-7em);
    opacity: 0;
    transition: all 1s ease;
}

.circle-anchor {
    display: block;
    width: 3em;
    height: 3em;
    transition: all .5s ease;
}

.circle-image {
    max-width: 3em;
    border-radius: 3em;
    box-shadow: 0 0 5px #333;
}

.circle-anchor:hover {
    transform: scale(1.5);
}

.circle-more-info {
    display: none;
}

.avatar-wrapper {
    position: relative;
    overflow: hidden;
    margin: 3em auto;
    width: 9em;
    height: 9em;
    border-radius: 5em;
    text-align: center;
    box-shadow: 0 0 5px #333;
}

.avatar {
    border-radius: 5em;
    margin: 0 auto;
    width: 9em;
}

.avatar-project-container.moreInfo .focus-more-info {
    bottom: 0;
}

.focus-more-info {
    display: flex;
    align-items: center;

    height: 9em;
    width: 9em;
    padding: 1em;
    margin: 0 auto;

    position: absolute;
    bottom: -9em;
    left: 0;
    right: 0;

    background: rgba(255,255,255,.8);
    border-radius: 5em;
    border: 1px solid #33a;

    overflow: hidden;
    word-wrap: break-word;
    transition: all .5s ease;
}

.focus-more-info h3 {
    width: 100%;
}

@media (max-width: 30em) {
    .header-containers .header-container {
        max-width: 100%;
    }
    .avatar-project-container {
        padding: 0.5em 0 2em;
    }
}